
.icon-searchmail-1:before { content: '\e801'; } /* '' */
.icon-searchtwitter:before { content: '\f099'; } /* '' */
.icon-searchfacebook-1:before { content: '\f09a'; } /* '' */
.icon-searchmobile:before { content: '\f10b'; } /* '' */
.icon-searchgoogle:before { content: '\f1a0'; } /* '' */