html {
    margin: 0px auto;
    width: 1367px;
}

body {
    width: 1367px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}


header {
    height: 35px;
    
}
main {
    height: 35px;
    
}
footer {
    height: 35px;
    
}